* {
  margin: 0;
  padding: 0;
 
}

h1 {
  text-align: center;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  padding: 20px;
  background-color:  lightblue;
  gap: 4px;
}

.product {
  width: 50vw;
  height: 50vh;
  background:white;
  border-radius: 0px;
}

.colors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colors div {
  padding: 8px;
}

label {
  margin-left: 4px;
  font-weight: bold;
}