* {
  margin: 0;
  padding: 0;
 
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  border-radius: 13px;
  padding: 2rem;
  width: 50vw;
  background-color:  lightblue;

}

.product-canvas {
  width: 50vw;
  height: 50vh;
  background:white;
  border-radius: 0px;
  margin-bottom:20px

}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.colors div {
  padding: 8px;
}

label {
  margin-left: 4px;
  font-weight: bold;
}